<a class="creditsAnchor" href="credits" target="_blank">
    <div class="creditsAnchor-button">
        <p class="creditsAnchor-button-text">@LocalisationService.GetString("Credits")</p>
    </div>
</a>