<a class="creditsButton" href="credits" target="_blank">
    <div class="creditsButton-button">
        <p class="creditsButton-button-text">@LocalisationService.GetString("Credits")</p>
    </div>
</a>