@rendermode InteractiveServer
@using Ash.Portfolio.Web.Components.Pages;
@inherits PageBase

<div class="navBar">
    <div class="navBar-container">
        <a class="navBar-container-home" href="/">Home</a>
        <a class="navBar-container-portfolio" href="portfolio">Portfolio</a>
        <a class="navBar-container-experience" href="experience">Experience</a>
        <a class="navBar-container-education" href="education">Education</a>
        <a class="navBar-container-interests" @onclick="NavigateToInterestsPage">Interests</a>
    </div>
</div>

<div class="globalCV">
    <a class="globalCV-button" href="docs/Ashley Gibson CV.docx" target="_blank">Download my CV</a>
</div>