@page "/experience"

<PageTitle>@LocalisationService.GetString("Ashley Gibson") - @LocalisationService.GetString("Experience")</PageTitle>

<div class="container p-0">

    <Ash.Portfolio.Web.Components.Shared.PageTitle LocalisedString="My career so far..." />
    
    <Ash.Portfolio.Web.Components.Pages.Experience.ExperienceGrid />

</div>

<Ash.Portfolio.Web.Components.Shared.NavBar />