.homeBody {
	background-image: url('../img/backgrounds/meLake.jpg');
	background-repeat: no-repeat;
	background-position: 85% 15%;
	background-size: cover;
	font-family: 'Quicksand', sans-serif;
	font-size: 100%;
	color: #000000;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	position: absolute;

	.homeContainer {
		height: 350px;
		overflow: hidden;
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 5%;
		background-color: rgba(146, 145, 145, 0.4);
		text-align: center;

		.cv {
			position: relative;
			padding: 20px 0;
			bottom: unset;
			left: unset;
		}

		&-line1 {
			margin: auto;
			font-size: 30px;
			font-style: italic;
			color: white;
			position: relative;
			padding: 0 0 0 0;
		}

		&-line2 {
			margin: auto;
			font-size: 60px;
			color: white;
			position: relative;
			padding: 0 0 0 0;
		}

		&-line3 {
			position: relative;
			font-size: 25px;
			color: white;

			a {
				&:hover {
					color: #808080;
				}
			}
		}

		a {
			color: white;
			font-weight: bold;
			text-decoration-line: none;
		}

		&-socialRow {
			display: flex;
			flex-direction: row;
			position: relative;
			justify-content: center;
			margin: auto;
			text-decoration: none;
			padding: 20px 0;

			a {
				width: 40px;
				height: 40px;

				img {
					width: 40px;
					height: 40px;

					&:hover {
						border-radius: 20px;
						background-color: white;
					}
				}
			}
		}
	}
}

.homeImageBlur{
	filter:blur(5px);
	transition:filter 2s;
}

.homeImageNoBlur {
	transition: filter 2s;
}