@page "/interests"

<PageTitle>@LocalisationService.GetString("Ashley Gibson") - @LocalisationService.GetString("Interests")</PageTitle>

<div class="photographyBody">
    <div class="page">
        <Ash.Portfolio.Web.Components.Shared.PageTitle LocalisedString="My experiences in pictures..." />

        <div class="mainLayer">
            <Ash.Portfolio.Web.Components.Pages.Interests.PhotoGallery />
        </div>
    </div>
</div>

<Ash.Portfolio.Web.Components.Shared.NavBar />

<Ash.Portfolio.Web.Components.Shared.CVButton />