<div class="photographyTable">
    <div class="leftArrow" onclick="photographyTable_leftArrow()"></div>

    <a class="imgShow imgFadeIn" href="https://www.instagram.com/gibbo_code" target="_blank">
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
        <div class="imgContainer"><img src="" object-fit="cover" /></div>
    </a>

    <div class="rightArrow" onclick="photographyTable_rightArrow()"></div>
</div>