<div class="row text-center fs-2 mt-2 ml-5 mr-5">
    <div class="col-3">
    </div>
    <div class="col-6 text-secondary">
        <a class="portfolioSelector-completeButton text-decoration-none text-secondary fw-bold" onclick="showCompletePortfolio()">@LocalisationService.GetString("Complete")</a>
        &nbsp;|&nbsp;
        <a class="portfolioSelector-inProgressButton text-decoration-none text-secondary" onclick="showInProgressPortfolio()">@LocalisationService.GetString("In Progress")</a>
        &nbsp;|&nbsp;
        <a class="portfolioSelector-gamesButton text-decoration-none text-secondary" onclick="showGamesPortfolio()">@LocalisationService.GetString("Games")</a>
    </div>
    <div class="col-3">
    </div>
</div>