@page "/education"

<PageTitle>Ashley Gibson - Education</PageTitle>

<div class="educationBody">
    <div class="page">

        <!-- Mobile Navigation -->
        <div class="mobileNav" style="display:none;">
            <ul class="mobileNav-container">
                <li><a class="mobileNav-container-home" href="/">Home</a></li>
                <li><a class="mobileNav-container-portfolio" href="portfolio">Portfolio</a></li>
                <li><a class="mobileNav-container-workExperience" href="experience">Experience</a></li>
                <li><a class="mobileNav-container-education" href="education">Education</a></li>
                <li><a class="mobileNav-container-photgraphy" href="interests">Interests</a></li>
            </ul>
        </div>

        <!-- Mobile Burger Menu Icon -->
        <div class="mobileBurgerMenu">
            <img src="img/navigation/burger.png" width="30" height="30" onclick="showMobileNav()" />
        </div>

        <!-- Mobile Close Menu Icon -->
        <div class="close" onclick="hideMobileNav()"></div>

        <div class="mainLayer">
            <div class="mainLayer-header">
                <div class="mainLayer-header-text">Here's what I've learnt...</div>
            </div>

            <div class="educationTable">

                <div class="educationTable-item">
                    <div class="educationTable-item-image">
                        <a class="educationTable-item-image-anchor" href="https://www.pluralsight.com/" target="_blank">
                            <img src="img/education/pluralsight.png">
                        </a>
                    </div>
                    <div class="educationTable-item-text">
                        <h1><a href="https://www.shu.ac.uk/" target="_blank" style="font-weight: bold;">PluralSight</a></h1>
                        <h2>Coding Courses</h2>
                        <ul>
                            <li>Topics studied: C#, .NET, Security, Docker, Kubernetes, Jenkins and Sitecore</li>
                            <li>Courses completed: 15</li>
                            <li>Hours watched: 43.55</li>
                            <li>My PluralSight link: <a href="https://app.pluralsight.com/profile/ashley-gibson" target="_blank">PluralSight</a></li>
                        </ul>
                    </div>
                </div>

                <div class="educationTable-item">
                    <div class="educationTable-item-image">
                        <a class="educationTable-item-image-anchor" href="https://www.shu.ac.uk/" target="_blank">
                            <img src="img/education/SHU.png">
                        </a>
                    </div>
                    <div class="educationTable-item-text">
                        <h1><a href="https://www.shu.ac.uk/" target="_blank" style="font-weight: bold;">Sheffield Hallam University</a></h1>
                        <h2>BSc (Hons) Computer Science for Games</h2>
                        <ul>
                            <li>Programming languages: C++, C#, C for Robotics, VB, JavaScript, HTML, CSS, PHP, SQL, Python and Assembly</li>
                            <li>Software used: Visual Studio, Unity</li>
                            <li>Source Control: Bitbucket with Source Tree</li>
                            <li>Take a look at the Games area of my <a href="/portfolio">Portfolio</a> or view my <a href="https://github.com/Ashley-Gibson" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                </div>

                <div class="educationTable-item">
                    <div class="educationTable-item-image">
                        <a class="educationTable-item-image-anchor" href="https://www.netherthorpe.academy/" target="_blank">
                            <img src="img/education/netherthorpe.png">
                        </a>
                    </div>
                    <div class="educationTable-item-text">
                        <h1><a href="https://www.netherthorpe.academy/" target="_blank" style="font-weight: bold;">Netherthorpe School</a></h1>
                        <h2>Secondary School & Sixth Form</h2>
                        <ul>
                            <li>4 A Levels</li>
                            <li>1 AS Level</li>
                            <li>8 GCSEs</li>
                            <li>Senior Prefect, Form Representative and Sports Leader</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Ash.Portfolio.Web.Components.Shared.FooterNav />