@rendermode InteractiveServer
@page "/"
@inherits PageBase

<PageTitle>@LocalisationService.GetString("Ashley Gibson")</PageTitle>

<div class="homePage homeBody">

    <Ash.Portfolio.Web.Components.Shared.CreditsAnchor />

    <div class="container p-0 m-0 h-100">
        <div class="row align-items-center p-0 h-100">
            <div class="col-1 p-0">
            </div>
            <div class="col-4 p-0">
                <Ash.Portfolio.Web.Components.Shared.HomeContainer />
            </div>
            <div class="col-7 p-0">
            </div>
        </div>
    </div>
</div>