@rendermode InteractiveServer
@page "/"
@inherits PageBase

<PageTitle>Ashley Gibson</PageTitle>

<div class="homePage homeBody">

    <!-- Mobile Close Menu Icon -->
    <div class="close" onclick="hideMobileNav()"></div>

    <a class="creditsAnchor" href="credits" target="_blank">
        <div class="creditsAnchor-button">
            <p class="creditsAnchor-button-text">Credits</p>
        </div>
    </a>

    <div class="objectContainer">
        <div class="objectContainer-line1">Hey, I'm</div>
        <div class="objectContainer-line2">Ashley Gibson</div>
        <div class="objectContainer-line3">Senior Software Engineer - <a href="https://www.asos.com/" target="_blank">ASOS</a></div>

        <div class="objectContainer-socialRow">
            <a href="http://www.facebook.com/ashdgibson" target="_blank"><img src="img/social/facebookNew.png" alt="Facebook"></a>
            &nbsp;
            <a href="http://www.linkedin.com/in/ashleydgibson" target="_blank"><img src="img/social/linkedInNew.png" alt="LinkedIn"></a>
            &nbsp;
            <a href="https://www.instagram.com/gibbo_code" target="_blank"><img src="img/social/instagramNew.png" alt="Instagram"></a>
            &nbsp;
            <a href="https://www.twitter.com/gibbo_photos" target="_blank"><img src="img/social/twitterNew.png" alt="Twitter"></a>
            &nbsp;
            <a href="mailto:ash.gibson@hotmail.co.uk" target="_self"><img src="img/social/mailNew.png" alt="Email"></a>
        </div>

        <div class="homeNav">
            <div class="homeNav-container">
                <a class="homeNav-container-home" href="/">Home</a>
                <a class="homeNav-container-portfolio" href="portfolio">Portfolio</a>
                <a class="homeNav-container-workExperience" href="experience">Experience</a>
                <a class="homeNav-container-education" href="education">Education</a>
                <a class="homeNav-container-photgraphy" @onclick="NavigateToInterestsPage">Interests</a>
            </div>
        </div>

        <div class="homeCV">
            <a class="homeCV-button" href="docs/Ashley Gibson CV.docx" target="_blank">Download my CV</a>
        </div>
    </div>
</div>