@page "/interests"

<PageTitle>Ashley Gibson - Interests</PageTitle>

<div class="photographyBody">
    <div class="page">

        <!-- Mobile Navigation -->
        <div class="mobileNav" style="display:none;">
            <ul class="mobileNav-container">
                <li><a class="mobileNav-container-home" href="/">Home</a></li>
                <li><a class="mobileNav-container-portfolio" href="portfolio">Portfolio</a></li>
                <li><a class="mobileNav-container-workExperience" href="experience">Experience</a></li>
                <li><a class="mobileNav-container-education" href="education">Education</a></li>
                <li><a class="mobileNav-container-photgraphy" href="interests">Interests</a></li>
            </ul>
        </div>

        <!-- Mobile Burger Menu Icon -->
        <div class="mobileBurgerMenu">
            <img src="img/navigation/burger.png" width="30" height="30" onclick="showMobileNav()" />
        </div>

        <!-- Mobile Close Menu Icon -->
        <div class="close" onclick="hideMobileNav()"></div>

        <div class="mainLayer">
            <div class="mainLayer-header">
                <div class="mainLayer-header-text">My experiences in pictures...</div>
            </div>

            <div class="photographyTable">
                <div class="leftArrow" onclick="photographyTable_leftArrow()"></div>

                <a class="imgShow imgFadeIn" href="https://www.instagram.com/gibbo_code" target="_blank">
                    <div class="imgContainer"><img src="" object-fit="cover" /></div>
                    <div class="imgContainer"><img src="" object-fit="cover" /></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                </a>

                <div class="rightArrow" onclick="photographyTable_rightArrow()"></div>
            </div>
        </div>
    </div>
</div>

<Ash.Portfolio.Web.Components.Shared.FooterNav />