@page "/interests"

<PageTitle>@LocalisationService.GetString("Ashley Gibson") - @LocalisationService.GetString("Interests")</PageTitle>

<div class="photographyBody">
    <div class="page">

        <div class="mainLayer">
            <div class="mainLayer-header">
                <div class="mainLayer-header-text">@LocalisationService.GetString("My experiences in pictures...")</div>
            </div>

            <div class="photographyTable">
                <div class="leftArrow" onclick="photographyTable_leftArrow()"></div>

                <a class="imgShow imgFadeIn" href="https://www.instagram.com/gibbo_code" target="_blank">
                    <div class="imgContainer"><img src="" object-fit="cover" /></div>
                    <div class="imgContainer"><img src="" object-fit="cover" /></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                    <div class="imgContainer"><img src="" object-fit="cover"/></div>
                </a>

                <div class="rightArrow" onclick="photographyTable_rightArrow()"></div>
            </div>
        </div>
    </div>
</div>

<Ash.Portfolio.Web.Components.Shared.NavBar />